/* media */
$media-list: (
		'xxs': 375,
		'xs': 560,
		'sm': 767,
		'md': 992,
		'mdHeader': 1079,
		'lg': 1279,
		'xl': 1599,
		'xxl': 1920
);

/* шрифты */
$mainFont: 'Gilroy', sans-serif;

/* цвета */
$fontBlue: #193762;
$white: #fff;
$blue: #193762;
$orange: #FF6A3D;
$grey: #E8EBEF;
