.section__header.animate__animated.animate__fadeInDown
	.container
		a(href="index.html").header__logo 
			img(src="img/svg/logo.svg", alt="logo")
		.header__menu
			a(href="#").header__menu__item.header__menu__item--site
				!="Главный сайт"
				<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
				<path d="M10.7104 3.28768L3.28579 10.7123M4.93571 3.28768L10.7104 3.28768L4.93571 3.28768ZM10.7104 3.28768L10.7104 9.06239L10.7104 3.28768Z" stroke="#FF6A3D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>


		.header__other
			a(href="#").header__menu__item.header__menu__item--contacts Контакты
			a(href="tel:+88002227526").header__menu__item--fone.header__menu__item
				<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
				<path d="M-0.00135422 17.8575C-0.00135422 18.2475 0.0853119 18.6483 0.26948 19.0383C0.453646 19.4283 0.691977 19.7966 1.00614 20.1433C1.53698 20.7283 2.12198 21.1508 2.78281 21.4216C3.43281 21.6925 4.13698 21.8333 4.89531 21.8333C6.00031 21.8333 7.18115 21.5733 8.42698 21.0425C9.67281 20.5116 10.9186 19.7966 12.1536 18.8975C13.3995 17.9875 14.5803 16.98 15.707 15.8641C16.8228 14.7375 17.8303 13.5566 18.7295 12.3216C19.6178 11.0866 20.3328 9.85163 20.8528 8.62746C21.3728 7.39246 21.6328 6.21163 21.6328 5.08496C21.6328 4.34829 21.5028 3.64413 21.2428 2.99413C20.9828 2.33329 20.5711 1.72663 19.997 1.18496C19.3036 0.502459 18.5453 0.166626 17.7436 0.166626C17.4403 0.166626 17.137 0.231626 16.8661 0.361626C16.5845 0.491626 16.3353 0.686626 16.1403 0.968293L13.627 4.51079C13.432 4.78163 13.2911 5.03079 13.1936 5.26913C13.0961 5.49663 13.042 5.72413 13.042 5.92996C13.042 6.18996 13.1178 6.44996 13.2695 6.69913C13.4103 6.94829 13.6161 7.20829 13.8761 7.46829L14.6995 8.32413C14.8186 8.44329 14.8728 8.58413 14.8728 8.75746C14.8728 8.84413 14.862 8.91996 14.8403 9.00663C14.8078 9.09329 14.7753 9.15829 14.7536 9.22329C14.5586 9.58079 14.2228 10.0466 13.7461 10.61C13.2586 11.1733 12.7386 11.7475 12.1753 12.3216C11.5903 12.8958 11.027 13.4266 10.4528 13.9141C9.88948 14.3908 9.42365 14.7158 9.05531 14.9108C9.00115 14.9325 8.93615 14.965 8.86031 14.9975C8.77365 15.03 8.68698 15.0408 8.58948 15.0408C8.40531 15.0408 8.26448 14.9758 8.14531 14.8566L7.32198 14.0441C7.05115 13.7733 6.79115 13.5675 6.54198 13.4375C6.29281 13.2858 6.04365 13.21 5.77281 13.21C5.56698 13.21 5.35031 13.2533 5.11198 13.3508C4.87365 13.4483 4.62448 13.5891 4.35365 13.7733L0.767811 16.3191C0.486145 16.5141 0.291145 16.7416 0.17198 17.0125C0.0636463 17.2833 -0.00135422 17.5541 -0.00135422 17.8575Z" fill="#FF6A3D"/>
				</svg>
				!="8 (800) 222-75-26"
			.header__menu__item--btn.btn Обратный звонок
			<button class="hamburger hamburger--collapse" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>


.mob-menu__section
	.mob-menu--overlay
	.mob-menu
		.mob-menu__top
			.mob-menu__top__row
				.header__other__search 
					.header__other__search__button
						<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M12.6529 15.2052C11.519 15.8215 10.2195 16.1716 8.83821 16.1716C4.41993 16.1716 0.838211 12.5898 0.838211 8.17157C0.838211 3.75329 4.41993 0.17157 8.83821 0.17157C13.2565 0.17157 16.8382 3.75329 16.8382 8.17157C16.8382 10.2402 16.0531 12.1255 14.7645 13.5456L17.3905 16.1716L15.5049 18.0572L12.6529 15.2052ZM14.1715 8.17157C14.1715 11.1171 11.7837 13.5049 8.83821 13.5049C5.89269 13.5049 3.50488 11.1171 3.50488 8.17157C3.50488 5.22605 5.89269 2.83824 8.83821 2.83824C11.7837 2.83824 14.1715 5.22605 14.1715 8.17157Z" fill="#CBCECF"/>
						</svg>
					.header__other__search__input.active
						input(type="search", name="")
			.mob-menu__top__row
				.header__other__user
					<svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4459 11.9682C15.8089 10.7475 16.6667 8.9741 16.6667 7.00035C16.6667 3.31845 13.6819 0.333679 9.99999 0.333679C6.31809 0.333679 3.33333 3.31845 3.33333 7.00035C3.33333 8.9741 4.19106 10.7475 5.55412 11.9682C3.54028 12.8928 1.86397 14.4263 0.760857 16.3328L3.07064 17.6664C4.45397 15.2755 7.03915 13.667 10 13.667C12.9609 13.667 15.546 15.2755 16.9294 17.6663L19.2391 16.3328C18.136 14.4262 16.4597 12.8928 14.4459 11.9682ZM14 7.00035C14 9.20948 12.2091 11.0003 9.99999 11.0003C7.79085 11.0003 5.99999 9.20948 5.99999 7.00035C5.99999 4.79121 7.79085 3.00035 9.99999 3.00035C12.2091 3.00035 14 4.79121 14 7.00035Z" fill="#CBCECF"/>
					</svg>
					!="Личный кабинет"
				.header__other__lang
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M9.99999 0.666687C4.84533 0.666687 0.666656 4.84536 0.666656 10C0.666656 13.8823 3.03703 17.211 6.40947 18.6177C7.48503 19.0664 8.6625 19.3195 9.89752 19.3328C9.93163 19.3332 9.9658 19.3334 9.99999 19.3334C10.0342 19.3334 10.0683 19.3332 10.1024 19.3328C11.3375 19.3195 12.515 19.0664 13.5905 18.6177C16.963 17.211 19.3333 13.8823 19.3333 10C19.3333 4.84536 15.1546 0.666687 9.99999 0.666687ZM11.2452 11.3334C11.0696 12.6515 10.6372 13.8884 9.99999 14.9923C9.36278 13.8884 8.93039 12.6515 8.75477 11.3334H11.2452ZM13.9307 11.3334C13.7457 13.1014 13.197 14.7612 12.3608 16.2366C14.4744 15.4361 16.0748 13.5921 16.5333 11.3334H13.9307ZM16.5333 8.66669H13.9307C13.7457 6.89865 13.197 5.23884 12.3608 3.76343C14.4743 4.56392 16.0748 6.40796 16.5333 8.66669ZM11.2452 8.66669H8.75477C8.9304 7.34858 9.36278 6.11164 9.99999 5.0078C10.6372 6.11164 11.0696 7.34858 11.2452 8.66669ZM6.06933 8.66669C6.25429 6.89865 6.80296 5.23884 7.63918 3.76343C5.52563 4.56392 3.92518 6.40796 3.46668 8.66669H6.06933ZM3.46668 11.3334C3.92518 13.5921 5.52562 15.4361 7.63915 16.2366C6.80294 14.7612 6.25428 13.1014 6.06933 11.3334H3.46668Z" fill="#CBCECF"/>
					</svg>
					!="ENG"
		.mob-menu--list.accordions
			.accordion
				.accordion__intro
					a(href="")  компания
				.accordion__content
			.accordion
				.accordion__intro
					p продукция
					.accordion__intro__img
						<svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.3 0L0 1.16667L6.5 7L13 1.16667L11.7 0L6.5 4.66667L1.3 0Z" fill="#CBCECF"/>
						</svg>
				.accordion__content
					a(href="") Твердомеры
					a(href="") Меры твердости
			.accordion
				.accordion__intro
					a(href="")  Дилеры
				.accordion__content
			.accordion
				.accordion__intro
					p инфоцентр
					.accordion__intro__img
						<svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.3 0L0 1.16667L6.5 7L13 1.16667L11.7 0L6.5 4.66667L1.3 0Z" fill="#CBCECF"/>
						</svg>
				.accordion__content
					a(href="") Подобрать твердомер
					a(href="") Подобрать меры твердости
			.accordion
				.accordion__intro
					a(href="")  проверка подлинности
				.accordion__content
			.accordion
				.accordion__intro
					a(href="")  контакты
				.accordion__content

		.mob-menu__bottom
			.mob-menu__fone
				a(href="tel:+88002227526") 8 (800) 222-75-26
			.soc
				a(href="#").soc__item 
					.soc__item__text Telegram
					.soc__item__picture 
						img(src="img/svg/tg.svg", alt="logo")
				a(href="#").soc__item 
					.soc__item__text WhatsApp
					.soc__item__picture 
						img(src="img/svg/wt.svg", alt="logo")
				a(href="#").soc__item
					.soc__item__text Mail
					.soc__item__picture 
						img(src="img/svg/sms.svg", alt="logo")
				a(href="#").soc__item 
					.soc__item__text Chat
					.soc__item__picture 
						img(src="img/svg/message.svg", alt="logo")
