.section__header.animate__animated.animate__fadeInDown
	.container
		a(href="index.html").header__logo 
			img(src="img/svg/logo.svg", alt="logo")
		.header__menu
			a(href="#").header__menu__item.header__menu__item--site
				!="Главный сайт"
				<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
				<path d="M10.7104 3.28768L3.28579 10.7123M4.93571 3.28768L10.7104 3.28768L4.93571 3.28768ZM10.7104 3.28768L10.7104 9.06239L10.7104 3.28768Z" stroke="#FF6A3D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>


		.header__other
			a(href="#").header__menu__item.header__menu__item--contacts Контакты
			a(href="tel:+88002227526").header__menu__item--fone.header__menu__item
				<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
				<path d="M-0.00135422 17.8575C-0.00135422 18.2475 0.0853119 18.6483 0.26948 19.0383C0.453646 19.4283 0.691977 19.7966 1.00614 20.1433C1.53698 20.7283 2.12198 21.1508 2.78281 21.4216C3.43281 21.6925 4.13698 21.8333 4.89531 21.8333C6.00031 21.8333 7.18115 21.5733 8.42698 21.0425C9.67281 20.5116 10.9186 19.7966 12.1536 18.8975C13.3995 17.9875 14.5803 16.98 15.707 15.8641C16.8228 14.7375 17.8303 13.5566 18.7295 12.3216C19.6178 11.0866 20.3328 9.85163 20.8528 8.62746C21.3728 7.39246 21.6328 6.21163 21.6328 5.08496C21.6328 4.34829 21.5028 3.64413 21.2428 2.99413C20.9828 2.33329 20.5711 1.72663 19.997 1.18496C19.3036 0.502459 18.5453 0.166626 17.7436 0.166626C17.4403 0.166626 17.137 0.231626 16.8661 0.361626C16.5845 0.491626 16.3353 0.686626 16.1403 0.968293L13.627 4.51079C13.432 4.78163 13.2911 5.03079 13.1936 5.26913C13.0961 5.49663 13.042 5.72413 13.042 5.92996C13.042 6.18996 13.1178 6.44996 13.2695 6.69913C13.4103 6.94829 13.6161 7.20829 13.8761 7.46829L14.6995 8.32413C14.8186 8.44329 14.8728 8.58413 14.8728 8.75746C14.8728 8.84413 14.862 8.91996 14.8403 9.00663C14.8078 9.09329 14.7753 9.15829 14.7536 9.22329C14.5586 9.58079 14.2228 10.0466 13.7461 10.61C13.2586 11.1733 12.7386 11.7475 12.1753 12.3216C11.5903 12.8958 11.027 13.4266 10.4528 13.9141C9.88948 14.3908 9.42365 14.7158 9.05531 14.9108C9.00115 14.9325 8.93615 14.965 8.86031 14.9975C8.77365 15.03 8.68698 15.0408 8.58948 15.0408C8.40531 15.0408 8.26448 14.9758 8.14531 14.8566L7.32198 14.0441C7.05115 13.7733 6.79115 13.5675 6.54198 13.4375C6.29281 13.2858 6.04365 13.21 5.77281 13.21C5.56698 13.21 5.35031 13.2533 5.11198 13.3508C4.87365 13.4483 4.62448 13.5891 4.35365 13.7733L0.767811 16.3191C0.486145 16.5141 0.291145 16.7416 0.17198 17.0125C0.0636463 17.2833 -0.00135422 17.5541 -0.00135422 17.8575Z" fill="#FF6A3D"/>
				</svg>
				!="8 (800) 222-75-26"
			.header__menu__item--btn.header__menu__item--btn--desc.btn Обратный звонок
			<button class="hamburger" type="button">
				<svg xmlns="http://www.w3.org/2000/svg" width="36" height="22" viewBox="0 0 36 22" fill="none">
				<rect x="36" y="4" width="36" height="4" rx="2" transform="rotate(-180 36 4)" fill="#FF6A3D"/>
				<rect x="36" y="13" width="36" height="4" rx="2" transform="rotate(-180 36 13)" fill="#FF6A3D"/>
				<rect x="36" y="22" width="36" height="4" rx="2" transform="rotate(-180 36 22)" fill="#FF6A3D"/>
				</svg>
			</button>


.mob-menu__section
	.mob-menu--overlay
	.mob-menu
		.mob-menu--close
			<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
			<path d="M1.8 18L0 16.2L7.2 9L0 1.8L1.8 0L9 7.2L16.2 0L18 1.8L10.8 9L18 16.2L16.2 18L9 10.8L1.8 18Z" fill="white"/>
			</svg>
		.mob-menu--list.accordions
			.accordion
				.accordion__intro
					a(href="")  Главный сайт
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
					<path d="M10.7104 3.28768L3.28579 10.7123M4.93571 3.28768L10.7104 3.28768L4.93571 3.28768ZM10.7104 3.28768L10.7104 9.06239L10.7104 3.28768Z" stroke="#FF6A3D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				.accordion__content
			.accordion
				.accordion__intro
					a(href="")  
						!="Контакты"
				.accordion__content

		.mob-menu__bottom
			.mob-menu__fone
				a(href="tel:+88002227526") 8 (800) 222-75-26
			.header__menu__item--btn.btn Обратный звонок
			.footer__soc
				a(href="#").footer__soc__item
					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_2677_916)">
					<path d="M0 22L1.55492 16.3536C0.5936 14.6963 0.0893027 12.8194 0.0945558 10.9007C0.0945558 4.88831 5.01146 0 11.0473 0C13.9785 0 16.7311 1.13451 18.7956 3.19439C20.8653 5.25428 22.0052 7.99382 22 10.9059C22 16.9183 17.0831 21.8066 11.042 21.8066H11.0368C9.20343 21.8066 7.40162 21.3465 5.79942 20.4786L0 22ZM6.07784 18.5076L6.40878 18.7063C7.80611 19.5323 9.4083 19.9663 11.042 19.9715H11.0473C16.064 19.9715 20.1509 15.9092 20.1509 10.9111C20.1509 8.4905 19.2053 6.21626 17.4876 4.50143C15.7698 2.7866 13.4795 1.84553 11.0473 1.84553C6.03056 1.8403 1.94365 5.90257 1.94365 10.9007C1.94365 12.6103 2.42168 14.278 3.33572 15.721L3.5511 16.0661L2.6318 19.4068L6.07784 18.5076Z" fill="white"/>
					<path d="M0.382812 21.6185L1.8852 16.1656C0.9554 14.571 0.466862 12.7568 0.466862 10.9061C0.472115 5.10285 5.21566 0.381836 11.0466 0.381836C13.878 0.381836 16.5308 1.47975 18.527 3.46644C20.5232 5.45313 21.6211 8.09857 21.6211 10.9113C21.6211 16.7145 16.8723 21.4355 11.0466 21.4355H11.0414C9.27106 21.4355 7.53228 20.9912 5.98787 20.1547L0.382812 21.6185Z" fill="white"/>
					<path d="M0 22L1.55492 16.3536C0.5936 14.6963 0.0893027 12.8194 0.0945558 10.9007C0.0945558 4.88831 5.01146 0 11.0473 0C13.9785 0 16.7311 1.13451 18.7956 3.19439C20.8653 5.25428 22.0052 7.99382 22 10.9059C22 16.9183 17.0831 21.8066 11.042 21.8066H11.0368C9.20343 21.8066 7.40162 21.3465 5.79942 20.4786L0 22ZM6.07784 18.5076L6.40878 18.7063C7.80611 19.5323 9.4083 19.9663 11.042 19.9715H11.0473C16.064 19.9715 20.1509 15.9092 20.1509 10.9111C20.1509 8.4905 19.2053 6.21626 17.4876 4.50143C15.7698 2.7866 13.4795 1.84553 11.0473 1.84553C6.03056 1.8403 1.94365 5.90257 1.94365 10.9007C1.94365 12.6103 2.42168 14.278 3.33572 15.721L3.5511 16.0661L2.6318 19.4068L6.07784 18.5076Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M8.31054 6.34197C8.10567 5.88712 7.89029 5.87667 7.69593 5.87144C7.53834 5.86621 7.35448 5.86621 7.17062 5.86621C6.98676 5.86621 6.69259 5.93418 6.44044 6.20604C6.18829 6.4779 5.48438 7.13665 5.48438 8.48028C5.48438 9.81868 6.4667 11.1153 6.60329 11.2982C6.73987 11.4812 8.49965 14.3201 11.2785 15.4128C13.5899 16.3225 14.0627 16.1395 14.5617 16.0924C15.0608 16.0454 16.1797 15.4337 16.4108 14.7959C16.6367 14.158 16.6367 13.6143 16.5684 13.4993C16.5001 13.3843 16.3163 13.3163 16.0431 13.1804C15.7699 13.0444 14.4252 12.3857 14.173 12.2916C13.9209 12.2027 13.737 12.1557 13.5584 12.4275C13.3745 12.6994 12.8492 13.3111 12.6916 13.4941C12.534 13.677 12.3712 13.698 12.098 13.562C11.8249 13.4261 10.9423 13.1386 9.89698 12.2079C9.08275 11.4865 8.53117 10.5924 8.37358 10.3206C8.21599 10.0487 8.35782 9.90233 8.4944 9.7664C8.61522 9.64615 8.76756 9.44749 8.90414 9.29064C9.04072 9.1338 9.088 9.01878 9.1773 8.83579C9.26661 8.65281 9.22458 8.49596 9.15629 8.36003C9.088 8.22933 8.55219 6.88047 8.31054 6.34197Z" fill="#193762"/>
					</g>
					<defs>
					<clipPath id="clip0_2677_916">
					<rect width="22" height="22" fill="white"/>
					</clipPath>
					</defs>
					</svg>
				a(href="#").footer__soc__item
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="15" viewBox="0 0 24 15" fill="none">
					<path d="M23.453 0.982C23.183 1.831 22.819 2.57 22.363 3.241L22.382 3.211C21.934 3.95767 21.399 4.82033 20.777 5.799C20.2437 6.57167 19.9613 6.97167 19.93 6.999C19.792 7.172 19.696 7.384 19.663 7.617L19.662 7.624C19.689 7.836 19.787 8.021 19.93 8.159L20.33 8.605C22.47 10.8043 23.6737 12.3203 23.941 13.153C23.976 13.245 23.996 13.351 23.996 13.462C23.996 13.656 23.934 13.835 23.829 13.982L23.831 13.979C23.655 14.16 23.409 14.272 23.137 14.272C23.107 14.272 23.076 14.271 23.047 14.268H23.051H20.42C20.419 14.268 20.417 14.268 20.415 14.268C20.078 14.268 19.768 14.15 19.525 13.954L19.528 13.956C19.174 13.665 18.859 13.35 18.577 13.008L18.568 12.996C18.1073 12.4753 17.6987 12.037 17.342 11.681C16.154 10.5517 15.2773 9.987 14.712 9.987C14.691 9.985 14.667 9.984 14.642 9.984C14.477 9.984 14.323 10.035 14.196 10.122L14.199 10.12C14.095 10.25 14.032 10.418 14.032 10.599C14.032 10.635 14.034 10.669 14.039 10.704V10.7C14.012 11.014 13.996 11.379 13.996 11.748C13.996 11.867 13.998 11.985 14.001 12.103V12.086V13.245C14.011 13.292 14.017 13.346 14.017 13.401C14.017 13.643 13.907 13.859 13.735 14.002L13.734 14.003C13.347 14.18 12.895 14.284 12.418 14.284C12.316 14.284 12.216 14.279 12.117 14.27L12.13 14.271C10.556 14.241 9.096 13.78 7.855 13.003L7.89 13.023C6.379 12.105 5.127 10.91 4.173 9.498L4.146 9.456C3.24 8.254 2.395 6.896 1.675 5.464L1.605 5.31C1.184 4.508 0.748 3.522 0.372 2.508L0.312 2.323C0.159 1.867 0.048 1.337 0.002 0.788L0 0.763C0 0.257667 0.297333 0.00500011 0.892 0.00500011H3.522C3.546 0.00300011 3.574 0.00199986 3.603 0.00199986C3.851 0.00199986 4.08 0.087 4.261 0.23L4.259 0.228C4.459 0.447 4.607 0.716 4.68 1.016L4.683 1.028C5.167 2.395 5.68 3.543 6.27 4.643L6.203 4.506C6.685 5.476 7.218 6.311 7.826 7.082L7.803 7.051C8.33633 7.70567 8.75233 8.033 9.051 8.033C9.06 8.034 9.071 8.034 9.083 8.034C9.231 8.034 9.36 7.954 9.43 7.834L9.431 7.832C9.505 7.642 9.548 7.421 9.548 7.191C9.548 7.142 9.546 7.093 9.542 7.045V7.051V3.172C9.521 2.715 9.409 2.288 9.222 1.905L9.23 1.924C9.106 1.66 8.957 1.432 8.78 1.229L8.783 1.233C8.619 1.069 8.507 0.854 8.472 0.614L8.471 0.608C8.471 0.438 8.549 0.285 8.671 0.185L8.672 0.184C8.793 0.073 8.955 0.00600004 9.132 0.00600004H9.14H13.286C13.308 0.00300004 13.333 0.00199986 13.359 0.00199986C13.554 0.00199986 13.729 0.0900002 13.845 0.228L13.846 0.229C13.949 0.417 14.01 0.642 14.01 0.88C14.01 0.918 14.008 0.955 14.005 0.992V0.987V6.16C14.003 6.184 14.002 6.212 14.002 6.24C14.002 6.424 14.053 6.597 14.141 6.744L14.139 6.74C14.212 6.848 14.334 6.918 14.472 6.918H14.473C14.649 6.906 14.809 6.848 14.944 6.756L14.941 6.758C15.213 6.571 15.447 6.358 15.65 6.117L15.654 6.112C16.261 5.426 16.821 4.668 17.309 3.862L17.348 3.792C17.692 3.222 18.064 2.52 18.401 1.799L18.463 1.652L18.909 0.76C19.064 0.314 19.48 0 19.969 0C19.988 0 20.007 -7.25267e-08 20.026 0.000999928H20.023H22.654C23.3647 0.000999928 23.6313 0.328 23.454 0.982H23.453Z" fill="white"/>
					</svg>
				a(href="#").footer__soc__item
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="17" viewBox="0 0 24 17" fill="none">
					<path d="M23.5057 2.62931C23.2289 1.60131 22.4184 0.790771 21.3904 0.514001C19.5123 0 11.9999 0 11.9999 0C11.9999 0 4.48762 0 2.60954 0.494232C1.60131 0.771002 0.771002 1.60131 0.494232 2.62931C0 4.50739 0 8.40194 0 8.40194C0 8.40194 0 12.3163 0.494232 14.1746C0.771002 15.2026 1.58154 16.0131 2.60954 16.2899C4.50739 16.8039 11.9999 16.8039 11.9999 16.8039C11.9999 16.8039 19.5123 16.8039 21.3904 16.3096C22.4184 16.0329 23.2289 15.2223 23.5057 14.1943C23.9999 12.3163 23.9999 8.42171 23.9999 8.42171C23.9999 8.42171 24.0197 4.50739 23.5057 2.62931Z" fill="white"/>
					<path d="M9.60938 11.9997L15.8565 8.40172L9.60938 4.80371V11.9997Z" fill="#193762"/>
					</svg>

