extends layouts/default
include helpers/mixins

block variables
	- const title = "Главная страница"

block content
	.detailed-offer
		.container
			.swiper-container.detailed-offer__slider.js-detailed-offer__slider
				.swiper-wrapper
					.detailed-offer__slide.swiper-slide
						.detailed-offer__slide__col
							.detailed-offer__slide__title.title__72 
								!="<span>Монитор пациента</span> Mindray BeneView T9 OR"
							.detailed-offer__slide__text.text__20
								!="Монитор пациента Mindray BeneView T9 OR (Operating Room) был разработан специально для операционной. Аппарат оснащен функцией графического представления анестезиологического статуса,1"
							.btn.btn--shadow.detailed-offer__slide__btn
								!="<p>ЗАКАЗАТЬ</p><span>каталог / образцы / товары</span>"
						.detailed-offer__slide__col
							.detailed-offer__slide__picture 
								picture 
									source(media="(maxw-width: 1200px)", srcset="img/detailed-offer__slide__picture__1.png")
									img(src="img/detailed-offer__slide__picture__1.png", alt="picture")
							.detailed-offer__slide__label.detailed-offer__slide__label--1 
								.detailed-offer__slide__label__title.text__20
									!="<span>20</span> Часов"
								.detailed-offer__slide__label__subtitle.text__20
									!="Автономной <br> работы"
							.detailed-offer__slide__label.detailed-offer__slide__label--2
								.detailed-offer__slide__label__title
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
									<path d="M24.5567 21.1204L23.4288 17.7462C23.3636 17.5504 23.3822 17.3453 23.4754 17.1682C24.3237 15.5277 24.6685 13.5889 24.305 11.5475C23.7457 8.41562 21.4527 5.815 18.4793 4.81763C19.2436 6.67255 19.4766 8.73254 19.0944 10.7739C18.3115 14.9218 14.9931 18.2215 10.8172 18.9672C10.2766 19.0605 9.73594 19.1071 9.19531 19.1257C10.463 20.4959 12.1501 21.4653 14.033 21.8009C16.0651 22.1644 17.9852 21.8289 19.6258 20.9899C19.8029 20.8967 20.0079 20.8781 20.2037 20.9433L23.5873 22.0712C24.1932 22.2763 24.7524 21.7077 24.5567 21.1204Z" fill="#193762"/>
									<path d="M7.25442 0.15699C3.74032 0.809476 0.925307 3.66177 0.291463 7.18519C-0.0720642 9.22654 0.272821 11.1654 1.12105 12.8059C1.21426 12.983 1.23291 13.1881 1.16766 13.3838L0.0397904 16.7581C-0.155955 17.3546 0.403318 17.9139 0.999876 17.7182L4.38348 16.5903C4.5699 16.5251 4.78429 16.5437 4.9614 16.6369C6.59261 17.4665 8.5221 17.8114 10.5541 17.4479C14.0682 16.814 16.9112 14.0083 17.573 10.5035C18.7288 4.31426 13.4251 -0.98952 7.25442 0.15699ZM9.49151 11.5289H5.11986C4.69108 11.5289 4.33687 11.184 4.33687 10.7459C4.33687 10.3171 4.68176 9.96292 5.11986 9.96292H9.49151C9.92029 9.96292 10.2745 10.3078 10.2745 10.7459C10.2745 11.1747 9.92029 11.5289 9.49151 11.5289ZM12.6141 8.40627H5.11986C4.69108 8.40627 4.33687 8.06139 4.33687 7.62329C4.33687 7.19451 4.68176 6.84031 5.11986 6.84031H12.6141C13.0429 6.84031 13.3971 7.18519 13.3971 7.62329C13.3971 8.05207 13.0429 8.40627 12.6141 8.40627Z" fill="#193762"/>
									</svg>
								.detailed-offer__slide__label__subtitle
									!="Мультиязычный <br> интерфейс"
				
					.detailed-offer__slide.swiper-slide
						.detailed-offer__slide__col
							.detailed-offer__slide__title.title__72 
								!="<span>Монитор пациента</span> Mindray BeneView T9 OR"
							.detailed-offer__slide__text.text__20
								!="Монитор пациента Mindray BeneView T9 OR (Operating Room) был разработан специально для операционной. Аппарат оснащен функцией графического представления анестезиологического статуса,1"
							.btn.btn--shadow.detailed-offer__slide__btn
								!="<p>ЗАКАЗАТЬ</p><span>каталог / образцы / товары</span>"
						.detailed-offer__slide__col
							.detailed-offer__slide__picture 
								picture 
									source(media="(maxw-width: 1200px)", srcset="img/detailed-offer__slide__picture__1.png")
									img(src="img/detailed-offer__slide__picture__1.png", alt="picture")
							.detailed-offer__slide__label.detailed-offer__slide__label--1 
								.detailed-offer__slide__label__title.text__20
									!="<span>20</span> Часов"
								.detailed-offer__slide__label__subtitle.text__20
									!="Автономной <br> работы"
							.detailed-offer__slide__label.detailed-offer__slide__label--2
								.detailed-offer__slide__label__title
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
									<path d="M24.5567 21.1204L23.4288 17.7462C23.3636 17.5504 23.3822 17.3453 23.4754 17.1682C24.3237 15.5277 24.6685 13.5889 24.305 11.5475C23.7457 8.41562 21.4527 5.815 18.4793 4.81763C19.2436 6.67255 19.4766 8.73254 19.0944 10.7739C18.3115 14.9218 14.9931 18.2215 10.8172 18.9672C10.2766 19.0605 9.73594 19.1071 9.19531 19.1257C10.463 20.4959 12.1501 21.4653 14.033 21.8009C16.0651 22.1644 17.9852 21.8289 19.6258 20.9899C19.8029 20.8967 20.0079 20.8781 20.2037 20.9433L23.5873 22.0712C24.1932 22.2763 24.7524 21.7077 24.5567 21.1204Z" fill="#193762"/>
									<path d="M7.25442 0.15699C3.74032 0.809476 0.925307 3.66177 0.291463 7.18519C-0.0720642 9.22654 0.272821 11.1654 1.12105 12.8059C1.21426 12.983 1.23291 13.1881 1.16766 13.3838L0.0397904 16.7581C-0.155955 17.3546 0.403318 17.9139 0.999876 17.7182L4.38348 16.5903C4.5699 16.5251 4.78429 16.5437 4.9614 16.6369C6.59261 17.4665 8.5221 17.8114 10.5541 17.4479C14.0682 16.814 16.9112 14.0083 17.573 10.5035C18.7288 4.31426 13.4251 -0.98952 7.25442 0.15699ZM9.49151 11.5289H5.11986C4.69108 11.5289 4.33687 11.184 4.33687 10.7459C4.33687 10.3171 4.68176 9.96292 5.11986 9.96292H9.49151C9.92029 9.96292 10.2745 10.3078 10.2745 10.7459C10.2745 11.1747 9.92029 11.5289 9.49151 11.5289ZM12.6141 8.40627H5.11986C4.69108 8.40627 4.33687 8.06139 4.33687 7.62329C4.33687 7.19451 4.68176 6.84031 5.11986 6.84031H12.6141C13.0429 6.84031 13.3971 7.18519 13.3971 7.62329C13.3971 8.05207 13.0429 8.40627 12.6141 8.40627Z" fill="#193762"/>
									</svg>
								.detailed-offer__slide__label__subtitle
									!="Мультиязычный <br> интерфейс"
				
				.swiper-pagination
				//- .swiper-buttons
				//- 	.swiper-button-prev
				//- 	.swiper-button-next 
			.advantages
				.advantage
					.advantage__top
						.advantage__icon
							<svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M22.6799 8.07225L12.6215 14.1073C12.5194 14.1686 12.4581 14.2809 12.4581 14.4034V25.6464C12.4581 25.9119 12.744 26.0753 12.9687 25.9425L23.0271 20.1321C23.1292 20.0708 23.2007 19.9585 23.2007 19.836V8.36838C23.1905 8.10288 22.9046 7.9395 22.6799 8.07225ZM0.52079 8.07225C0.296136 7.9395 0 8.10288 0 8.36838V19.836C0 19.9585 0.0612695 20.0708 0.173597 20.1321L10.232 25.9425C10.4567 26.0753 10.7426 25.9119 10.7426 25.6464V14.4034C10.7426 14.2809 10.6813 14.1686 10.5792 14.1073L0.52079 8.07225ZM6.65795 18.4881L6.14737 18.2123V19.9279C6.14737 20.1628 5.96356 20.2444 5.72869 20.1219L4.43182 19.4275C4.19696 19.305 4.01315 19.0191 4.01315 18.7842V17.0686L3.50257 16.7929C3.14517 16.5989 2.95115 16.0781 3.18601 15.9352L4.75859 14.9651C4.92198 14.8629 5.21812 15.0263 5.39171 15.302L6.96429 17.9673C7.20937 18.3553 7.01535 18.6821 6.65795 18.4881Z" fill="#193762"/>
							<path d="M15.5326 2.22102L11.7645 0.0459521C11.6624 -0.0153174 11.5297 -0.0153174 11.4276 0.0459521L1.24662 5.91761C1.02196 6.05036 1.02196 6.37713 1.24662 6.50988L5.13723 8.83812C5.24955 8.89939 5.3823 8.89939 5.48442 8.83812L15.5428 2.80308C15.7573 2.67033 15.7573 2.34356 15.5326 2.22102ZM22.3233 5.93803L20.6078 2.2006C20.5261 2.01679 20.2912 1.94531 20.1176 2.04742L9.93667 8.15394C9.7937 8.24585 9.73244 8.42966 9.80392 8.58283L11.4378 12.3611C11.5195 12.5551 11.7543 12.6266 11.9279 12.5143L22.1906 6.35671C22.3437 6.27501 22.3948 6.09121 22.3233 5.93803Z" fill="#193762"/>
							</svg>
						.advantage__num 01
					.advantage__text.text__20
						!="Широкий ассортимент и прямые контракты"
				.advantage
					.advantage__top
						.advantage__icon
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path d="M18.8199 10.3583H23.2878V6.35408C23.2878 5.57431 22.6555 4.94206 21.8757 4.94206H4.59433C4.01477 4.94206 3.54058 4.46788 3.54058 3.88832C3.54058 3.30876 4.01477 2.83457 4.59433 2.83457H21.1803V1.41202C21.1803 0.632247 20.548 0 19.7683 0H2.82404C1.26449 0 0 1.26449 0 2.82404V21.1697C0 22.7293 1.26449 23.9938 2.82404 23.9938H21.8757C22.6555 23.9938 23.2878 23.3615 23.2878 22.5818V19.0623H18.8199C16.4174 19.0623 14.4679 17.1128 14.4679 14.7103C14.4679 12.3077 16.4174 10.3583 18.8199 10.3583Z" fill="#193762"/>
							</svg>
						.advantage__num 02
					.advantage__text.text__20
						!="Финансовая стабильность"
				.advantage
					.advantage__top
						.advantage__icon
							<svg xmlns="http://www.w3.org/2000/svg" width="23" height="24" viewBox="0 0 23 24" fill="none">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M16.9379 4.98749C17.8241 4.76757 18.6942 4.48742 19.5422 4.14901C18.1032 2.74071 16.3191 1.73523 14.3687 1.23338C15.1917 1.95103 15.871 2.81821 16.3705 3.78894C16.5798 4.17862 16.7692 4.57865 16.9379 4.98749ZM0 11.9897H4.70842C4.72768 9.85145 5.09116 7.73021 5.7849 5.70739C4.79796 5.45737 3.83083 5.13483 2.89143 4.74241C1.10869 6.74554 0.0854798 9.31019 0 11.9897ZM5.47576 11.9897C5.49345 9.91051 5.85102 7.84816 6.53435 5.88424C6.65453 5.9103 6.77513 5.93543 6.89616 5.95962C8.41221 6.26071 9.95431 6.41137 11.5 6.4094C13.0453 6.41128 14.5869 6.26063 16.1026 5.95962C16.2238 5.9356 16.3444 5.91047 16.4644 5.88424C17.1481 7.84809 17.5061 9.91043 17.5242 11.9897H5.47576ZM18.2916 11.9897C18.2723 9.85145 17.9088 7.73021 17.2151 5.70739C18.202 5.45737 19.1692 5.13483 20.1086 4.74241C21.8913 6.74554 22.9145 9.31019 23 11.9897H18.2916ZM23 12.7564H18.2916C18.2722 14.8946 17.9089 17.0158 17.2154 19.0387C18.2022 19.2888 19.1692 19.6113 20.1086 20.0037C21.8913 18.0006 22.9145 15.4359 23 12.7564ZM17.5242 12.7564C17.5065 14.8356 17.149 16.8979 16.4656 18.8619C16.3463 18.8358 16.2257 18.8102 16.1038 18.7852C13.0639 18.1855 9.93606 18.1855 6.89616 18.7852C6.77496 18.8092 6.65436 18.8348 6.53435 18.8619C5.85105 16.8979 5.49347 14.8356 5.47576 12.7564H17.5242ZM4.70842 12.7564H0C0.0854798 15.4359 1.10869 18.0006 2.89143 20.0037C3.83083 19.6113 4.79796 19.2887 5.7849 19.0387C5.09118 17.0159 4.7277 14.8946 4.70842 12.7564ZM19.5422 20.5976C18.1032 22.0057 16.319 23.011 14.3687 23.5127C15.1915 22.7949 15.8708 21.9278 16.3705 20.9572C16.5798 20.5675 16.7692 20.1675 16.9379 19.7586C17.8241 19.9787 18.6942 20.2592 19.5422 20.5976ZM16.1811 19.5848C16.1055 19.5686 16.0299 19.5531 15.954 19.5381C13.013 18.9585 9.98702 18.9585 7.046 19.5381C6.97015 19.5531 6.89446 19.5686 6.81894 19.5848C6.96998 19.9389 7.13192 20.2754 7.30477 20.5945C8.3966 22.6208 9.88169 23.873 11.5 23.873C13.1183 23.873 14.6034 22.6208 15.6963 20.5945C15.8681 20.2761 16.03 19.9395 16.1821 19.5848H16.1811ZM6.06208 19.7586C6.2308 20.1673 6.42017 20.5672 6.62947 20.9566C7.1292 21.9273 7.80847 22.7944 8.63133 23.5122C6.68103 23.0106 4.89691 22.0055 3.4578 20.5976C4.30581 20.2591 5.17592 19.9788 6.06208 19.7586ZM3.4578 4.1485C4.89685 2.74039 6.68098 1.73509 8.63133 1.23338C7.80833 1.95103 7.12903 2.81821 6.62947 3.78894C6.4202 4.17862 6.23082 4.57865 6.06208 4.98749C5.1759 4.76757 4.30579 4.48742 3.4578 4.14901V4.1485ZM6.81894 5.16127C6.96998 4.80724 7.13192 4.47059 7.30477 4.15131C8.3966 2.12527 9.88169 0.873047 11.5 0.873047C13.1183 0.873047 14.6034 2.12527 15.6963 4.15131C15.8681 4.46991 16.03 4.80656 16.1821 5.16127C16.1066 5.17728 16.0309 5.19287 15.955 5.20804C14.4883 5.49898 12.9964 5.6445 11.501 5.64248C10.0057 5.6445 8.51377 5.49898 7.04703 5.20804C6.97049 5.19287 6.89446 5.17728 6.81894 5.16127Z" fill="#193762"/>
							</svg>
						.advantage__num 03
					.advantage__text.text__20
						!="Офисы и логистические центры на территории РФ"
				.advantage
					.advantage__top
						.advantage__icon
							<svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M24.5567 21.1204L23.4288 17.7462C23.3636 17.5504 23.3822 17.3453 23.4754 17.1682C24.3237 15.5277 24.6685 13.5889 24.305 11.5475C23.7457 8.41562 21.4527 5.815 18.4793 4.81763C19.2436 6.67255 19.4766 8.73254 19.0944 10.7739C18.3115 14.9218 14.9931 18.2215 10.8172 18.9672C10.2766 19.0605 9.73594 19.1071 9.19531 19.1257C10.463 20.4959 12.1501 21.4653 14.033 21.8009C16.0651 22.1644 17.9852 21.8289 19.6258 20.9899C19.8029 20.8967 20.0079 20.8781 20.2037 20.9433L23.5873 22.0712C24.1932 22.2763 24.7524 21.7077 24.5567 21.1204Z" fill="#193762"/>
							<path d="M7.25442 0.15699C3.74032 0.809476 0.925307 3.66177 0.291463 7.18519C-0.0720642 9.22654 0.272821 11.1654 1.12105 12.8059C1.21426 12.983 1.23291 13.1881 1.16766 13.3838L0.0397904 16.7581C-0.155955 17.3546 0.403318 17.9139 0.999876 17.7182L4.38348 16.5903C4.5699 16.5251 4.78429 16.5437 4.9614 16.6369C6.59261 17.4665 8.5221 17.8114 10.5541 17.4479C14.0682 16.814 16.9112 14.0083 17.573 10.5035C18.7288 4.31426 13.4251 -0.98952 7.25442 0.15699ZM9.49151 11.5289H5.11986C4.69108 11.5289 4.33687 11.184 4.33687 10.7459C4.33687 10.3171 4.68176 9.96292 5.11986 9.96292H9.49151C9.92029 9.96292 10.2745 10.3078 10.2745 10.7459C10.2745 11.1747 9.92029 11.5289 9.49151 11.5289ZM12.6141 8.40627H5.11986C4.69108 8.40627 4.33687 8.06139 4.33687 7.62329C4.33687 7.19451 4.68176 6.84031 5.11986 6.84031H12.6141C13.0429 6.84031 13.3971 7.18519 13.3971 7.62329C13.3971 8.05207 13.0429 8.40627 12.6141 8.40627Z" fill="#193762"/>
							</svg>
						.advantage__num 04
					.advantage__text.text__20
						!="Комплексный подход под индивидуальный запрос"
				.advantage
					.advantage__top
						.advantage__icon
							<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5442 1.70602C19.203 0.682406 18.254 0 17.1771 0H7.8153C6.73838 0 5.78941 0.682406 5.4482 1.70602L3.74219 6.78142H6.00266L7.4741 2.38842C7.52741 2.23915 7.65536 2.14318 7.8153 2.14318H17.1771C17.3263 2.14318 17.465 2.23915 17.5183 2.38842L18.9791 6.78142H21.2395L19.5442 1.70602Z" fill="#193762"/>
							<path d="M24.2788 8.92328H0.714394C0.319878 8.92328 0 9.24316 0 9.63767V13.2096C0 13.6042 0.319878 13.924 0.714394 13.924H1.94059L3.39071 23.4244C3.49733 24.1175 4.09444 24.64 4.79817 24.64H20.195C20.8987 24.64 21.4958 24.1282 21.6024 23.4244L23.0526 13.924H24.2788C24.6733 13.924 24.9932 13.6042 24.9932 13.2096V9.63767C24.9932 9.24316 24.6733 8.92328 24.2788 8.92328ZM8.56207 20.7055C8.56207 21.2919 8.08226 21.7717 7.49581 21.7717C6.90937 21.7717 6.42955 21.2919 6.42955 20.7055V16.0672C6.42955 15.4808 6.90937 15.001 7.49581 15.001C8.08226 15.001 8.56207 15.4808 8.56207 16.0672V20.7055ZM13.5628 20.7055C13.5628 21.2919 13.083 21.7717 12.4966 21.7717C11.9101 21.7717 11.4303 21.2919 11.4303 20.7055V16.0672C11.4303 15.4808 11.9101 15.001 12.4966 15.001C13.083 15.001 13.5628 15.4808 13.5628 16.0672V20.7055ZM18.5636 20.7055C18.5636 21.2919 18.0838 21.7717 17.4973 21.7717C16.9109 21.7717 16.4311 21.2919 16.4311 20.7055V16.0672C16.4311 15.4808 16.9109 15.001 17.4973 15.001C18.0838 15.001 18.5636 15.4808 18.5636 16.0672V20.7055Z" fill="#193762"/>
							</svg>
						.advantage__num 05
					.advantage__text.text__20
						!="Сопровождение на всех этапах сотрудничества"
	.company
		.company__picture 
			img(src="img/company__1.png", alt="")
		.container
			.company__list
				.company__list__col
					.company__list__title.title__100.white Medern
					.btn.btn--shadow.company__list__btn
						!="Запросить каталог"
				.company__list__col
					.company__list__text.text__20.white 
						!="Израильская медицинская компания MEDEREN широко известна во всем мире. Под этим брендом ведется разработка и производство медицинских изделий и расходных материалов для самых разных направлений практической медицины, включая инфузионную терапию, хирургию и анестезиологию, реанимацию, урологию и гинекологию."
					.btn.btn--circle.btn--circle--white
						!="Подробнее"
						.btn--circle__icon 
				.company__list__col
					.company__list__text.text__20.white 
						!="В активе производителя свыше 3000 наименований, но разработки и расширение ассортимента неустанно продолжаются. <br>Ведущая отличительная особенность товаров MEDEREN - высокое качество, подтвержденное многочисленными тестированиями"
	
	.products
		.container
			.products__slider.swiper-container.js-products__slider
				.swiper-wrapper
					.products__slide.swiper-slide
						.products__card
							.products__card__label Новинка
							.products__card__picture
								img(src="img/products__card__1.png", alt="")
							.products__card__title Трубки эндотрахеальные
							.products__card__text.text__20 
								!="Эндотрахеальные трубки MEDEREN изготовлены из термопластичного ПВХ, способного «подстраиваться» под форму"
							.products__card__buttons
								.btn.btn--circle.btn--circle--blue
									!="Подробнее"
									.btn--circle__icon
								a(href="javascript:;").btn.js-btn__order.fancybox Заказать
				.swiper-buttons
					.swiper-button-prev
					.swiper-button-next 	
	
	.company.company--2
		.company__picture 
			img(src="img/company__2.png", alt="")
		.container
			.company__list
				.company__list__col
					.company__list__title.title__100.white Medern
					.btn.btn--shadow.company__list__btn
						!="Запросить каталог"
				.company__list__col
					.company__list__text.text__20.white 
						!="Израильская медицинская компания MEDEREN широко известна во всем мире. Под этим брендом ведется разработка и производство медицинских изделий и расходных материалов для самых разных направлений практической медицины, включая инфузионную терапию, хирургию и анестезиологию, реанимацию, урологию и гинекологию."
					.btn.btn--circle.btn--circle--white
						!="Подробнее"
						.btn--circle__icon 
				.company__list__col
					.company__list__text.text__20.white 
						!="В активе производителя свыше 3000 наименований, но разработки и расширение ассортимента неустанно продолжаются. <br>Ведущая отличительная особенность товаров MEDEREN - высокое качество, подтвержденное многочисленными тестированиями"
	
	.products
		.container
			.products__slider.swiper-container.js-products__slider
				.swiper-wrapper
					.products__slide.swiper-slide
						.products__card
							.products__card__label Новинка
							.products__card__picture
								img(src="img/products__card__1.png", alt="")
							.products__card__title Трубки эндотрахеальные
							.products__card__text.text__20 
								!="Эндотрахеальные трубки MEDEREN изготовлены из термопластичного ПВХ, способного «подстраиваться» под форму"
							.products__card__buttons
								.btn.btn--circle.btn--circle--blue
									!="Подробнее"
									.btn--circle__icon
								.btn Заказать
	
					.products__slide.swiper-slide
						.products__card
							.products__card__label Новинка
							.products__card__picture
								img(src="img/products__card__1.png", alt="")
							.products__card__title Трубки эндотрахеальные
							.products__card__text.text__20 
								!="Эндотрахеальные трубки MEDEREN изготовлены из термопластичного ПВХ, способного «подстраиваться» под форму"
							.products__card__buttons
								.btn.btn--circle.btn--circle--blue
									!="Подробнее"
									.btn--circle__icon
								.btn Заказать
	
					.products__slide.swiper-slide
						.products__card
							.products__card__label Новинка
							.products__card__picture
								img(src="img/products__card__1.png", alt="")
							.products__card__title Трубки эндотрахеальные
							.products__card__text.text__20 
								!="Эндотрахеальные трубки MEDEREN изготовлены из термопластичного ПВХ, способного «подстраиваться» под форму"
							.products__card__buttons
								.btn.btn--circle.btn--circle--blue
									!="Подробнее"
									.btn--circle__icon
								.btn Заказать
	
					.products__slide.swiper-slide
						.products__card
							.products__card__label Новинка
							.products__card__picture
								img(src="img/products__card__1.png", alt="")
							.products__card__title Трубки эндотрахеальные
							.products__card__text.text__20 
								!="Эндотрахеальные трубки MEDEREN изготовлены из термопластичного ПВХ, способного «подстраиваться» под форму"
							.products__card__buttons
								.btn.btn--circle.btn--circle--blue
									!="Подробнее"
									.btn--circle__icon
								.btn Заказать
	
					.products__slide.swiper-slide
						.products__card
							.products__card__label Новинка
							.products__card__picture
								img(src="img/products__card__1.png", alt="")
							.products__card__title Трубки эндотрахеальные
							.products__card__text.text__20 
								!="Эндотрахеальные трубки MEDEREN изготовлены из термопластичного ПВХ, способного «подстраиваться» под форму"
							.products__card__buttons
								.btn.btn--circle.btn--circle--blue
									!="Подробнее"
									.btn--circle__icon
								.btn Заказать
	
					.products__slide.swiper-slide
						.products__card
							.products__card__label Новинка
							.products__card__picture
								img(src="img/products__card__1.png", alt="")
							.products__card__title Трубки эндотрахеальные
							.products__card__text.text__20 
								!="Эндотрахеальные трубки MEDEREN изготовлены из термопластичного ПВХ, способного «подстраиваться» под форму"
							.products__card__buttons
								.btn.btn--circle.btn--circle--blue
									!="Подробнее"
									.btn--circle__icon
								.btn Заказать
	
					.products__slide.swiper-slide
						.products__card
							.products__card__label Новинка
							.products__card__picture
								img(src="img/products__card__1.png", alt="")
							.products__card__title Трубки эндотрахеальные
							.products__card__text.text__20 
								!="Эндотрахеальные трубки MEDEREN изготовлены из термопластичного ПВХ, способного «подстраиваться» под форму"
							.products__card__buttons
								.btn.btn--circle.btn--circle--blue
									!="Подробнее"
									.btn--circle__icon
								.btn Заказать
				.swiper-buttons
					.swiper-button-prev
					.swiper-button-next 	
	.company.company--3
		.company__picture 
			img(src="img/company__3.png", alt="")
		.container
			.company__list
				.company__list__col
					.company__list__title.title__72.white О компании
					.btn.btn--shadow.company__list__btn
						!="На главный сайт"
				.company__list__col
					.company__list__text.text__20.white 
						!="Израильская медицинская компания MEDEREN широко известна во всем мире. Под этим брендом ведется разработка и производство медицинских изделий и расходных материалов для самых разных направлений практической медицины, включая инфузионную терапию, хирургию и анестезиологию, реанимацию, урологию и гинекологию."
					.btn.btn--circle.btn--circle--white
						!="Подробнее"
						.btn--circle__icon 
				.company__list__col
					.company__list__text.text__20.white 
						!="В активе производителя свыше 3000 наименований, но разработки и расширение ассортимента неустанно продолжаются. <br>Ведущая отличительная особенность товаров MEDEREN - высокое качество, подтвержденное многочисленными тестированиями"
	.customers
		.container
			.customer__title.title__100 Заказчики
			.customer__slider.swiper-container.js-customer__slider
				.swiper-wrapper
					.customer__slide.swiper-slide
						.customer__card
							.customer__card__label
								img(src="img/customer__card__label__1.png", alt="")
							.customer__card__picture
								img(src="img/customer__card__picture__1.png", alt="")
							.customer__card__text.text__20
								!="Городская клиническая больница №1 им. Пирогова"
					.customer__slide.swiper-slide
						.customer__card
							.customer__card__label
								img(src="img/customer__card__label__2.png", alt="")
							.customer__card__picture
								img(src="img/customer__card__picture__2.png", alt="")
							.customer__card__text.text__20
								!="Городская клиническая больница №1 им. Пирогова"
				
					.customer__slide.swiper-slide
						.customer__card
							.customer__card__label
								img(src="img/customer__card__label__1.png", alt="")
							.customer__card__picture
								img(src="img/customer__card__picture__1.png", alt="")
							.customer__card__text.text__20
								!="Городская клиническая больница №1 им. Пирогова"
					.customer__slide.swiper-slide
						.customer__card
							.customer__card__label
								img(src="img/customer__card__label__2.png", alt="")
							.customer__card__picture
								img(src="img/customer__card__picture__2.png", alt="")
							.customer__card__text.text__20
								!="Городская клиническая больница №1 им. Пирогова"
				
					.customer__slide.swiper-slide
						.customer__card
							.customer__card__label
								img(src="img/customer__card__label__1.png", alt="")
							.customer__card__picture
								img(src="img/customer__card__picture__1.png", alt="")
							.customer__card__text.text__20
								!="Городская клиническая больница №1 им. Пирогова"
					.customer__slide.swiper-slide
						.customer__card
							.customer__card__label
								img(src="img/customer__card__label__2.png", alt="")
							.customer__card__picture
								img(src="img/customer__card__picture__2.png", alt="")
							.customer__card__text.text__20
								!="Городская клиническая больница №1 им. Пирогова"
			
			.swiper-buttons.customer__swiper-buttons
				.swiper-button-prev.customer__swiper-button-prev
				.swiper-button-next.customer__swiper-button-next
	.partners
		.container
			.partners__title.title__100 Партнеры
			.partners__slider.swiper-container.js-partners__slider
				.swiper-wrapper
					.partners__slide.swiper-slide
						img(src="img/partners__slide__1.png", alt="")
					.partners__slide.swiper-slide
						img(src="img/partners__slide__2.png", alt="")
					.partners__slide.swiper-slide
						img(src="img/partners__slide__3.png", alt="")
					.partners__slide.swiper-slide
						img(src="img/partners__slide__4.png", alt="")
					.partners__slide.swiper-slide
						img(src="img/partners__slide__5.png", alt="")
					.partners__slide.swiper-slide
						img(src="img/partners__slide__6.png", alt="")
					.partners__slide.swiper-slide
						img(src="img/partners__slide__1.png", alt="")
					.partners__slide.swiper-slide
						img(src="img/partners__slide__2.png", alt="")
					.partners__slide.swiper-slide
						img(src="img/partners__slide__3.png", alt="")
					.partners__slide.swiper-slide
						img(src="img/partners__slide__4.png", alt="")
					.partners__slide.swiper-slide
						img(src="img/partners__slide__5.png", alt="")
					.partners__slide.swiper-slide
						img(src="img/partners__slide__6.png", alt="")

	.contacts 
		.container
			.contacts__title.title__100 Контакты
		.contacts__map
			.contacts__map__item
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aebeaff5254b284c038cedd4e4eace9ceb6df9e58d1e143167db02be7b369ebb9&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
		.container
			.contacts__info
				.contacts__offices
					.contacts__offices__col
						.contacts__office
							.contacts__office__icon
								<svg xmlns="http://www.w3.org/2000/svg" width="21" height="25" viewBox="0 0 21 25" fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M20.779 10.5522C20.779 16.1183 12.1037 23.7277 11.1144 24.5768C10.6984 24.9344 10.0827 24.9328 9.66895 24.5726C8.67534 23.7276 0 16.1182 0 10.5521C0 4.72423 4.65146 0 10.3895 0C16.1271 0 20.779 4.72449 20.779 10.5522ZM15.1121 9.9001C15.1121 12.3853 12.9977 14.4001 10.3896 14.4001C7.78146 14.4001 5.66709 12.3853 5.66709 9.9001C5.66709 7.41487 7.78146 5.4001 10.3896 5.4001C12.9977 5.4001 15.1121 7.41487 15.1121 9.9001Z" fill="#193762"/>
								</svg>
							.contacts__office__adress.text__20
								!="г. Санкт-Петербург 197183 ул. Полевая Сабировская, д 43, лит.Б"
					
						.contacts__office
							.contacts__office__icon
								<svg xmlns="http://www.w3.org/2000/svg" width="21" height="25" viewBox="0 0 21 25" fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M20.779 10.5522C20.779 16.1183 12.1037 23.7277 11.1144 24.5768C10.6984 24.9344 10.0827 24.9328 9.66895 24.5726C8.67534 23.7276 0 16.1182 0 10.5521C0 4.72423 4.65146 0 10.3895 0C16.1271 0 20.779 4.72449 20.779 10.5522ZM15.1121 9.9001C15.1121 12.3853 12.9977 14.4001 10.3896 14.4001C7.78146 14.4001 5.66709 12.3853 5.66709 9.9001C5.66709 7.41487 7.78146 5.4001 10.3896 5.4001C12.9977 5.4001 15.1121 7.41487 15.1121 9.9001Z" fill="#193762"/>
								</svg>
							.contacts__office__adress.text__20
								!="г. Санкт-Петербург 197183 ул. Полевая Сабировская, д 43, лит.Б"
					
						.contacts__office
							.contacts__office__icon
								<svg xmlns="http://www.w3.org/2000/svg" width="21" height="25" viewBox="0 0 21 25" fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M20.779 10.5522C20.779 16.1183 12.1037 23.7277 11.1144 24.5768C10.6984 24.9344 10.0827 24.9328 9.66895 24.5726C8.67534 23.7276 0 16.1182 0 10.5521C0 4.72423 4.65146 0 10.3895 0C16.1271 0 20.779 4.72449 20.779 10.5522ZM15.1121 9.9001C15.1121 12.3853 12.9977 14.4001 10.3896 14.4001C7.78146 14.4001 5.66709 12.3853 5.66709 9.9001C5.66709 7.41487 7.78146 5.4001 10.3896 5.4001C12.9977 5.4001 15.1121 7.41487 15.1121 9.9001Z" fill="#193762"/>
								</svg>
							.contacts__office__adress.text__20
								!="г. Санкт-Петербург 197183 ул. Полевая Сабировская, д 43, лит.Б"
					
					.contacts__offices__col
						form.contacts__form 
							.contacts__form__title  Заказать звонок
							input(type="text", name="" placeholder="Имя").contacts__form__input
							input(type="email", name="" placeholder="Электронный адрес или телефон").contacts__form__input
							.contacts__form__bottom 
								.contacts__form__btn.btn Отправить
								.contacts__form__mess 	
									!="Заполняя данную форму вы даете согласие на обработку своих персональных данных."
				
				.contacts__persons
					.contacts__person
						.contacts__person__post Интернет-магазин
						a(href="https://medimcom.com").contacts__person__name.text__20 https://medimcom.com
						a(href="mailto:Lv@medimcom.ru").contacts__person__mail.text__20 Lv@medimcom.ru
						a(href="tel:+79217818886").contacts__person__tel.text__20 моб. +7 (921) 781-88-86
					.contacts__person
						.contacts__person__post Коммерческий директор
						.contacts__person__name.text__20 
							!="Швидкая Лилия<br>Владимировна"
						a(href="mailto:Lv@medimcom.ru").contacts__person__mail.text__20 Lv@medimcom.ru
						a(href="tel:+79217818886").contacts__person__tel.text__20 доб. 205 / +7 (921) 781-88-86
					.contacts__person
						.contacts__person__post Директор Департамента клинических продаж
						.contacts__person__name.text__20 
							!="Ласковец Анастасия<br> Борисовна"
						a(href="mailto:lab@medimcom.ru").contacts__person__mail.text__20 lab@medimcom.ru
						a(href="tel:+79217818886").contacts__person__tel.text__20 моб. +7 (921) 781-88-86
					.contacts__person
						.contacts__person__post Директор Департамента региональных продаж
						.contacts__person__name.text__20 
							!="Стригин Дмитрий<br> Викторович"
						a(href="mailto:ds@medimcom.ru").contacts__person__mail.text__20 ds@medimcom.ru
						a(href="tel:+79217818886").contacts__person__tel.text__20 доб. 205 / +7 (921) 781-88-86 

	<div id="modal-reg" class="modal-reg" style="display:none">
		form.contacts__form 
			.contacts__form__title  Заказать звонок
			input(type="text", name="" placeholder="Имя").contacts__form__input
			input(type="email", name="" placeholder="Электронный адрес или телефон").contacts__form__input
			.contacts__form__bottom 
				.contacts__form__btn.btn Отправить
				.contacts__form__mess 	
					!="Заполняя данную форму вы даете согласие на обработку своих персональных данных."

	</div>
	