.footer {
	position: relative;
	width: 100%;
	background: $blue;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
	&__wrap {
		position: relative;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__text {
		position: relative;
		color: #FFF;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 18px
	}
	&__contacts {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}
	&__soc {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		&__item {
			position: relative;
			border-radius: 19px;
			background: rgba(255, 255, 255, 0.2);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 70px;
			height: 70px;
			margin-right: 10px;		
		}
	}
	&__emal {
		position: relative;
		text-decoration: none;
		color: #FFF;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 18px;
		margin-right: 46px;
	}

}