.footer {
	position: relative;
	width: 100%;
	background: $blue;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
	@include max(md)  {
		flex-flow: column nowrap;
	}
	&__wrap {
		position: relative;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: flex-end;
		@include max(md)  {
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
		}
	}
	&__text, a {
		position: relative;
		color: #FFF;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 18px;
		text-decoration: none;
		transition: all 0.3s;
		&:hover {
			transition: all 0.3s;
			color: $orange;
		}
		@include max(md)  {
			br {
				display: none;
			}
			
		}
	}
	&__col {
		@include max(md)  {
			display: flex;
			width: 100%;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 20px;

		}
	}
	&__contacts {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		@include max(md)  {
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
			
		}
	}
	&__soc {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		&__item {
			position: relative;
			border-radius: 19px;
			background: rgba(255, 255, 255, 0.2);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 70px;
			height: 70px;
			margin-right: 10px;	
			transition: all 0.3s;
			&:hover {
				transition: all 0.3s;
				background: rgba(255, 106, 61, 1);
			}
		}
	}
	&__emal {
		position: relative;
		text-decoration: none;
		color: #FFF;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 18px;
		margin-right: 46px;
		@include max(md)  {
			margin-bottom: 20px;
			margin-right: 0;
			
		}
	}

}