h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}
html {
	font-family: $mainFont;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;
	color: #031B4B;
    scroll-behavior: smooth;
}
body.Bodymotionless {
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
  }

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    display: flex;
	flex-direction: column;
	min-height: 100%;
}

.site-main {
	flex: 1 0 auto;
    padding-top: 73px;
    background: $grey;
    overflow: hidden;  
    @include max(mdHeader) {
        padding-top: 55px;  
    }
    &.site-main__over-visidle {
        overflow: visible;
    }
}
.site-footer{
	flex: 0 0 auto;
}

.container {
    position: relative;
	box-sizing: border-box;
	width: 1376px;
	max-width: 95%;
	margin: 0 auto;
    position: relative;
	@include max(lg) {
		//1024
		width: 1168px;
		max-width: calc(100% - 32px * 2);
	}

	@include max(md) {
		max-width: calc(100% - 32px * 2);
	}

	@include max(sm) {
		max-width: calc(100% - 16px * 2);
	}
    &--pr-none {
        @include max(sm) {
            max-width: calc(100% - 0px);
            padding-left: 16px;
        }
        .catalog__button {
            right: 16px;
        }
    }
}
.swiper-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100px;
    top: 40px;
    left: auto;
    right: 0;
    overflow: visible;
    @media (max-width: 1450px) {
      position: relative;
      justify-content: space-between;
      align-items: flex-start;
      height: 40px;
      top: 0;
      margin-top: 45px;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 120px;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      align-self: flex-start;
    }
    @include max(md) {
      max-width: 92px;
      margin-top: 45px;
    }
    .swiper-button-prev,.swiper-button-next {
        width: 44px;
        height: 44px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: auto;
        right: auto;
        position: relative;
        top: 0;
        margin-top: 0;
        &::after {
            font-size: 0;
        }
        @media (max-width: 1450px) {
            width: 49px;
            height: 49px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: auto;
            right: auto;
            top: auto;
            bottom: auto;
            background: #F5F5F5;
            &::after {
            font-size: 20px;
            }
    
        }
        @include max(md) {
            width: 33px;
            height: 33px;
            &::after {
            font-size: 15px;
            }
    
        }
  
  
    }
    .swiper-button-prev {
        &::after {
            content: url(../img/svg/button-prev.svg);
            // @media (max-width: 1450px)  {
            //     content: url(../img/svg/button-prev--mob.svg);   
            // }
        }
  
    }
    .swiper-button-next {
        &::after {
            content: url(../img/svg/button-next.svg);
            // @media (max-width: 1450px) {
            //     content: url(../img/svg/button-next--mob.svg);   
            // }
        }
  
    }
}
.btn {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: max-content;
    color: $white;
    min-height: 44px;
    padding-left: 33px;
    padding-right: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    text-decoration: none;
    cursor: pointer;
    background: $orange;
    border-radius: 1000px;
    transition: all 0.3s;
    &::after {
        position: relative;
        display: block;
        margin-left: 12px;
        padding-top: 5px;
        content: url(../img/svg/btn-icon.svg)
    }
    &:hover { 
        transition: all 0.3s;
        background: $blue;
    }
    @include max(md) {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 135%; /* 16.2px */
        letter-spacing: 0.36px;
        min-height: 34px;
    }

    &--shadow {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        min-height: 86px;
        min-width: 346px;
        &::after {
            position: absolute;
            display: block;
            top: 29px;
            right: 31px;
            @include max(md) {
                top: 18px;
            }
        }
        &::before {
            position: absolute;
            width: calc(100% - 2px);
            height: 100%;
            content: '';
            background: #310606;
            bottom: -10px;
            left: 1px;
            z-index: -1;
            border-radius: 1000px;
            transition: all 0.3s;
            pointer-events: none;
        }
        &:hover {
            transition: all 0.3s;
            &::before {
                transition: all 0.3s;
                bottom: 0;
            }
        }
        span {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24.5px;            
        }
        p {
            margin-bottom: 2px;
        }
        @include max(md) {
            min-height: 64px;
        }
    }
    &--circle {
        min-height: 45px;
        display: flex;
        justify-content: center;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        background: transparent;
        padding-left: 0;
        padding-right: 0;
        transition: all 0.3s;
        &:hover {
            transition: all 0.3s;
            .btn--circle__icon {
                transition: all 0.3s;
                background: none;
            }
        }
        &__icon {
            transition: all 0.3s;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 12px;
            margin-right: 0;
            width: 45px;
            height: 45px;
            margin-left: 11px;
            border-radius: 50%;

            &::after {
                position: absolute;
                display: block;
                content: url(../img/svg/btn-icon__2.svg)
            }              
        }
        &::after {
            display: none;
        } 
        &--white {

            .btn--circle__icon {
                background: rgba(255, 255, 255, 0.2);
            }
        }
        &--blue {
            color: $blue;
            .btn--circle__icon {
                background: $blue;
            }
        }
    }


}

@keyframes rotateCircle {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(360deg)
	}
}

.title__100 {
    position: relative;
    display: block;
    color: $mainFont;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    &.white {
        color: $white;
    }
    @include max(lg) {
        font-size: 60px;
    }
    @include max(sm) {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
        margin-bottom: 24px;
    }
}
.title__72 {
    position: relative;
    display: block;
    color: $mainFont;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    &.white {
        color: $white;
    }
    @include max(lg) {
        font-size: 60px;
    }
    @include max(sm) {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
        margin-bottom: 24px;
    }
}
.text__20{
    position: relative;
    display: block;
    color: $fontBlue;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    &.white {
        color: $white;
    }
    @include max(sm) {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
    }
}

.detailed-offer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 143px;
    @include max(lg) {
        padding-bottom: 74px;
    }
    &__slider {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        overflow: hidden;
        .swiper-pagination.swiper-pagination-bullets {
            flex-flow: column nowrap;
            width: 30px;
            left: 0;
            top: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                min-width: 12px;
                min-height: 12px;
                margin: 2.5px;
                margin-top: 2.5px;
                margin-bottom: 2.5px;
                background: $blue;
                opacity: 0.25;
                &-active {
                    opacity: 1;
                }
            }

        }
    }
    &__slide {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        @include max(lg) {
            flex-flow: column-reverse nowrap;
        }
        &__col {
           position: relative;
           display: flex;
           flex-flow: column nowrap;
           justify-content: flex-start;
           align-items: flex-start;
           width: 50%;
           padding-bottom: 30px;
           @include max(lg) {
            width: 100%;
            }
           &:nth-child(1) {
            padding-left: 49px;
            @include max(lg) {
                padding-right: 40px;
            }
           } 
           &:nth-child(2) {
            padding-left: 40px;
            @media (max-width: 1400px) {
                padding-left: 40px;
                padding-right: 40px;
            }
            @include max(lg) {
                width: 100%;
            }
           } 
        }
        &__title {
            width: 100%;
            max-width: 663px;
            margin-bottom: 30px;
            @include max(lg) {
               max-width: 100%;
            }
            span {
                opacity: 0.26;
            }
        }
        &__text {
            width: 100%;
            max-width: 611px;
            margin-bottom: 30px;
            @include max(lg) {
                max-width: 100%;
             }
        }
        &__picture  {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            &::before {
                @include max(lg) {
                    position: relative;
                    content: "";
                    width: 100%;
                    padding-top: 83.51%;
                 }
            }
            picture, img {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                @include max(lg) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                 }
            }
        }
        &__label {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;
            width: 192px;
            height: 192px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.36);
            // backdrop-filter: blur(2px);
            text-align: center;
            &__title {
                margin-bottom: 9px;
                span {
                    font-size: 44px;
                    font-style: normal;
                    font-weight: 700;
                }
            }
            &--1 {
                bottom: 27px;
                left: 0;
                @media (max-width: 1400px) {
                    left: 40px;
                }
            }
            &--2 {
                top: 60px;
                right: 0;
                @media (max-width: 1400px) {
                    right: 40px;
                }
            }
        }
    }
}
.advantages {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    left: 0;
    bottom: -50%;
    width: 100%;
    padding: 15px;
    z-index: 10;
    border-radius: 42px;
    background: #FFF;    
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    overflow-x: auto;
    @include max(lg) {
        position: relative;
        margin-top: 40px;
        width: calc(100% + 30px);
        border-radius: 42px 0  0 42px;
    }
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: $grey;
      }
      
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $orange;
      }
      
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: $grey;
      }
    .advantage {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 256px;
        min-width: 256px;
        min-height: 238px;
        background: $grey;
        border-radius: 30px;
        margin-right: 15px;
        padding: 15px 15px 21px 17px;
        &:last-child {
            margin-right: 0;
        }
        &__top {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }
        &__icon {
            width: 71px;
            height: 71px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            border-radius: 50%;
        }
        &__num {
            position: relative;
            display: block;
            margin-top: 11px;
            margin-right: 13px;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 14px;
            letter-spacing: 1.4px;
            text-transform: uppercase;            
        }
        &__text {
            width: 100%;
            max-width: 220px;
        }
    }
}
.company {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    min-height: 932px;
    z-index: 9;
    padding-bottom: 64px;
    &--2 {
      margin-top: -30px;  
    }
    &--3 {
        margin-top: -30px;   
    }
    &__picture  {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        img {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }

    }
    &__list {
        position: relative;
        display: flex;
        justify-content: flex-start;
        border-radius: 42px;
        background: #193762;
        // backdrop-filter: blur(17.5px);
        padding: 35px 32px 32px 23px;
        &__col {
            position: relative;
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 33.333%;
            padding-left: 20px;
            &:nth-child(1) {
                justify-content: space-between;
            }
        }
        &__text {
            margin-bottom: 30px;
        }
    }
    .container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
    }
}
.products {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 42px;
    margin-top: -30px;
    z-index: 12;
    background: $grey;
    padding-bottom: 34px;
    padding-top: 54px;
    &__slider {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        overflow: hidden;
        min-height: 775px;
        .swiper-wrapper {
            align-items: flex-end;
        }
    }
    &__slide {
        position: relative;
        justify-content: flex-start;
        align-items: stretch;
        display: flex;
        &.swiper-slide-active {
            // transform: scaleY(1.2);
            .products__card {
                background: $blue;
                transition: all 0.6s;
                min-height: 775px;
                &__title {
                    color: #FFF;
                }
                &__text {
                    color: #FFF; 
                }
                &__picture {
                    // transform: scale(1.2);
                    padding-top: 30px;
                    padding-bottom: 30px;
                    &::before {
                        position: absolute;
                        margin-left: auto;
                        margin-right: auto;
                        left: auto;
                        right: auto;
                        top: 10%;
                        content: "";
                        width: 321px;
                        height: 321px;
                        border-radius: 50%;
                        background: rgba(255, 255, 255, 0.11);
                    }
                    img {
                        position: relative;
                        display: block;
                        width: 100%;
                        max-width: 316px;
                    }
                }
                &__label {
                    background: rgba(255, 106, 61, 1);
                    color: #FFF;
                }
                .btn.btn--circle.btn--circle--blue {
                    color: #fff;
                    .btn--circle__icon {
                        background: rgba(255, 255, 255, 0.2);
                    }
                }
            }
        }
    }
    &__card {
        position: relative;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        min-height: 625px; 
        background: #ffff;
        flex-flow: column  nowrap;
        transition: all 0.6s;
        border-radius: 32px;
        padding: 56px 32px 129px 32px;
        &__label {
            position: absolute;
            top: 23px;
            left: 25px;
            background: rgba(255, 106, 61, 0.2);
            color:  $orange;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            border-radius: 9px;
            padding: 14px 25px 14px 20px;
            z-index: 2;
            
        }
        &__title {
            color: $blue;
            margin-bottom: 15px;
            font-size: 41.31px;
            font-style: normal;
            font-weight: 700;
            line-height: 41.31px;           
        }
        &__buttons {
            position: absolute;
            bottom: 32px;
            left: 0;
            padding-left: 32px;
            padding-right: 32px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }
        &__picture {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 33px;
            // transform: scale(1);
            img {
                position: relative;
                display: block;
                width: 100%;
                max-width: 269px;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
            
        }
    }
}
.customers {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 42px;
    margin-top: -30px;
    z-index: 12;
    background: $grey;
    padding-bottom: 33px;
    padding-top: 38px;
    .customer {
        &__swiper-buttons {
            top: 10px;
        }
        &__slider {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            overflow: hidden;

        }
        &__title {
            margin-bottom: 120px;
        }
        &__slide {
            position: relative;
            justify-content: flex-start;
            align-items: stretch;
            height: auto;
            display: flex;
        }
        &__card {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-flow: column nowrap;
            width: 100%;
            background: #fff;
            border-radius: 32px;
            overflow: hidden;
            padding-bottom: 33px;
            min-height: 443px;
            &__label {
                position: absolute;
                top: 22px;
                right: 22px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                width: auto;
                max-height: 103px;
                padding: 30px;
                background: #fff;
                border-radius: 23px;
                z-index: 5;
                img,svg {
                    position: relative;
                    display: block;
                    // width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &__picture {
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                margin-bottom: 23px;
                &::before {
                    position: relative;
                    content: '';
                    padding-top: 96.93%;
                    display: block;
                    width: 100%;
                }
                img, picture {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                }
            }
            &__text {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

}
.partners {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -30px;
    z-index: 9;
    background: #fff;
    padding-bottom:0px;
    padding-top: 64px;
    min-height: 481px;
    &__title {
        margin-bottom: 55px;
    }
    &__slider {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        overflow: hidden;
        // .swiper-wrapper {
        //     transition: transform 2s ease-in-out;
        // }
    }
    &__slide {
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 194px;
        height: 141px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background: #fff;
        padding: 26px;
        border-radius: 32px;
        img, svg {
            position: relative;
            display: block;
            // height: 100%;
            object-fit: contain;
            object-position: center center;
        }
    }
}
.contacts {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    margin-top: -1px;
    z-index: 9;
    padding-bottom: 33px;
    padding-top: 0px;
    min-height: 481px;
    background: #fff;
    &__title {
        position: relative;
        margin-bottom: 34px;
    }
    &__map {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        &::before {
            position: relative;
            display: block;
            content: "";
            width: 100%;
            padding-top: 51.17%;
        }
        &__item {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

    }
    &__info {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        flex-flow: column nowrap;
        // padding-top: 196px;

    }
    &__offices {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        width: 100%;
        padding: 18px 20px;
        background: #fff;
        min-height: 350px;
        border-radius: 42px;
        background: #FFF;
        margin-top: -175px;
        margin-bottom: 21px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
        &__col {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-flow: row nowrap;
            &:nth-child(1) {
                width: 60%;
            }
            &:nth-child(2) {
                width: 40%;
            }

        }
    }
    &__office {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 253px;
        margin-right: 15px;
        background: $grey;
        flex-flow: column nowrap;
        justify-content: space-between;
        border-radius: 30px;
        min-height: 315px;
        padding: 15px;
        &__icon {
            position: relative;
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            border-radius: 50%;
        }

    }
    &__persons {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        flex-flow: column nowrap;
    }
    &__person {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        padding: 13px 30px;
        padding-top: 18px;
        min-height: 111px;
        background: $grey;
        width: 100%;
        border-radius: 30px;
        margin-bottom: 15px;
        &__post {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 37.77%;
            color: #193762;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 35.6px
        }
        &__name {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 23.82%;
            font-weight: 600;
            text-decoration: none;
            transition: all 0.3s;
            &:hover {
                transition: all 0.3s;
                text-decoration: underline;
            }

        }
        &__mail {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 19.10%;
            font-weight: 600;
            text-decoration: none;
            transition: all 0.3s;
            &:hover {
                transition: all 0.3s;
                text-decoration: underline;
            }
        }
        &__tel {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 19.31%;
            font-weight: 600;
            text-decoration: none;
            transition: all 0.3s;
            white-space: nowrap;
            &:hover {
                transition: all 0.3s;
                text-decoration: underline;
            }
        }
    }
    &__form  {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-flow: column nowrap;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        background: #193762;
        padding: 27px 30px;
        &__title {
            position: relative;
            display: block;
            color: #FFF;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: 35.6px;
            margin-bottom: 24px;            
        }
        &__input {
            color: #FFF;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            min-height: 44px;
            padding: 10px 20px;
            width: 100%;
            margin-bottom: 15px;
            border-radius: 1000px;
            border: none;
            background: rgba(255, 255, 255, 0.2);
            &::placeholder {
                color: #FFF;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
            }
        }
        &__bottom {
            display: flex;
            align-self: flex-end;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 30px;
            padding-left: 30px;
            padding-right: 30px;

        }
        &__mess {
            position: relative;
            width: 100%;
            color: #FFF;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
            max-width: 232px;           
        }
    }
}
.modal-reg {
    padding: 0;
    border-radius: 30px;
    .fancybox-close-small {
       background: $grey;
       width: 57px;
       height: 57px;
       border-radius: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
       top: 24px;
       right: 24px;
    }
    .fancybox-button svg {
        width: 50%;
        height: 50%;
        fill: $blue;
        path {
            fill: $blue;  
        }
    }
    .contacts__form {
        min-height: 430px;
        background: #fff;
        width: 438px;
        &__title {
            color: $blue;
            font-size: 58px;
            font-style: normal;
            font-weight: 700;
            line-height: 46px; 
            width: 100%;
            max-width: 330px;
            margin-bottom: 40px;
        }
        &__input {
            color: $blue;
            background: $grey;
            &::placeholder {
                color: $blue;
                font-weight: 700;  
            }
        }
        &__mess {
            color: #1B316D;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px;
            max-width: 100%;
            margin-bottom: 25px;
        }
        &__bottom  {
            flex-flow: column-reverse nowrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
}
.fancybox-bg {
    background: rgba(25, 55, 98, 0.7);
}
.fancybox-slide {
    padding: 0;
}
.modal-detail {
    height: 100%;
    width: 73.33vw;
    max-width: 1059px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background: transparent;
    border-radius: 40px 0 0 40px;
    background-image: url(../img/modal-detail__1.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
    .fancybox-close-small {
       background: $grey;
       width: 57px;
       height: 57px;
       border-radius: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
       top: 24px;
       right: 24px;
    }
    .fancybox-button svg {
        width: 50%;
        height: 50%;
        fill: $blue;
        path {
            fill: $blue;  
        }
    }
    &__bg {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left top;
        }
    }
    &__company {
        min-height: 100vh;
        max-width: 469px;
        width: 100%;
        display: flex;
        position: relative;
        justify-content: flex-start;
        align-items: flex-start;
        flex-flow: column nowrap;
        background: #fff;
        padding-top: 35px;
        padding-left: 40px;
        margin-left: auto;
        margin-right: 0;
        border-radius: 30px 0 0 30px;
        overflow: hidden;

        &__title {
            color: $blue;
            font-size: 58px;
            font-style: normal;
            font-weight: 700;
            line-height: 46px;
            margin-bottom: 31px;
            width: 100%;
            max-width: 290px;        
        }
        &__text {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            height: calc(100vh - 216px);
            overflow: auto;
            &::-webkit-scrollbar {
                width: 5px;
                background-color: $grey;
              }
              
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: $blue;
              }
              
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background-color: $grey;
              }
        }
        &__buttons {
            position: relative;
            min-height: 103px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: calc(100% + 42px);
            border: 1px solid $grey;
            padding-left: 42px;
            padding-top: 26px;
            border-radius: 30px 30px 0 0;
            margin-left: -42px;
        }
    }
}
.modal-detail-product {
    height: 100%;
    width: 95vw;
    max-width: 1059px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background: transparent;
    border-radius: 40px 0 0 40px;
    background: $grey;
    overflow: hidden;
    .fancybox-close-small {
       background: $grey;
       width: 57px;
       height: 57px;
       border-radius: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
       top: 24px;
       right: 24px;
    }
    .fancybox-button svg {
        width: 50%;
        height: 50%;
        fill: $blue;
        path {
            fill: $blue;  
        }
    }
    &__bg {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left top;
        }
    }
    &__company {
        min-height: 100vh;
        max-width: 469px;
        width: 100%;
        display: flex;
        position: relative;
        justify-content: flex-start;
        align-items: flex-start;
        flex-flow: column nowrap;
        background: #fff;
        padding-top: 35px;
        padding-left: 40px;
        margin-left: auto;
        margin-right: 0;
        border-radius: 30px 0 0 30px;
        overflow: hidden;

        &__title {
            color: $blue;
            font-size: 58px;
            font-style: normal;
            font-weight: 700;
            line-height: 46px;
            margin-bottom: 31px;
            width: 100%;
            max-width: 290px;        
        }
        &__text {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            height: calc(100vh - 216px);
            overflow: auto;
            &::-webkit-scrollbar {
                width: 5px;
                background-color: $grey;
              }
              
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: $blue;
              }
              
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background-color: $grey;
              }
        }
        &__buttons {
            position: relative;
            min-height: 103px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: calc(100% + 42px);
            border: 1px solid $grey;
            padding-left: 42px;
            padding-top: 26px;
            border-radius: 30px 30px 0 0;
            margin-left: -42px;
        }
    }
    &__col  {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 469px);
    }
    &__img  {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 445px;
        &::before {
            position: relative;
            width: 100%;
            content: "";
            padding-top: 100%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            width: 100%;
        }
    }
    &__wrap {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        width: 100%;
        height: 100%;
    }
}


.hints {
    z-index: 99993;
    .hint {
      position: absolute;
      width: 46px;
      height: 46px;
      z-index: 800;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.35;
      cursor: pointer;
      svg {
        @include max(sm) {
          width: 46px;
          height: 46px;
        }
      }
  
      &::before {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 0px;
        height: 0px;
        transition: all 0.3s;
      }
      &:hover {
        transition: all 0.3s;
        &::before {
          transition: all 0.3s;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background: #E83B3B;
          display: block;
          content: "";
      
        }
      }
      &__list {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        // max-width: 226px;
        z-index: 99993;
        background: #fff;
        &__title {
    
        }
        ul {
          position: relative;
          display: block;
          width: 100%;
          padding-left: 15px;
          padding-top: 0;
          margin-top: 0;
          color: $blue;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 25px;
          margin-bottom: 0px;
          @include max(sm) {
              font-size: 14px;
              font-style: normal;
              line-height: 150%;
              margin-bottom: 10px;
          }
          li {
            position: relative;
            list-style-type: none;
            color: $blue;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 135%;
            margin-bottom: 14px;
            &:last-child {
              margin-bottom: 0;
            }
            @include max(sm) {
                font-size: 14px;
                font-style: normal;
                line-height: 150%;
                margin-bottom: 10px;
            }
            &::before {
              content: '';
              display: block;
              height: 5px;
              width: 5px;
              border-radius: 50%;
              background-color: $blue;
              left: -15px;
              top: 7px;
              position: absolute;
            }
          }
        }
        p {
            color: $blue;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px;   
        }
      }
    }
    &__product {
        &__1 {
            .hint {
                &:nth-child(1) {
                    left: 0;
                    bottom: 25px;
                }
                &:nth-child(2) {
                    left: 155px;
                    bottom: 20px;
                }
                &:nth-child(3) {
                    left: 50px;
                    bottom: 130px;
                }
                &:nth-child(4) {
                    left: 245px;
                    bottom: 187px;
                }
            } 
        }
    }
}
.tippy-box[data-theme~='tomato'] {
    background-color: #FFFFFF;
  padding: 5px 17px;
  border-radius: 15px;
  height: auto;
  @include max(sm) {
    padding: 10px 10px;
  }
  p  {
    color: $blue;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    @include max(sm) {
      font-size: 12px;
      font-style: normal;
      line-height: 150%;
      margin-bottom: 10px;
      max-width: 160px;
  }
  }
  ul {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 15px;
    padding-top: 0;
    margin-top: 0;
    color:  $blue;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    @include max(sm) {
        font-size: 12px;
        font-style: normal;
        line-height: 150%;
        margin-bottom: 10px;
        max-width: 180px;
    }
    li {
      position: relative;
      list-style-type: none;
      color:  $blue;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 135%;
      margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }
      @include max(sm) {
          font-size: 12px;
          font-style: normal;
          line-height: 150%;
          margin-bottom: 10px;
      }
      &::before {
        content: '';
        display: block;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: $blue;
        left: -15px;
        top: 7px;
        position: absolute;
      }
    }
  }
  // .hint {
  //   &__list {
  //     position: relative;
  //     display: flex;
  //     flex-flow: column nowrap;
  //     width: 100%;
  //     background: #fff;
  //     &__title {
  //     }

  //   }
  // }
}
// .tippy-box[data-theme~='tomato'][data-placement^='top'] > .tippy-arrow::before {
//   border-top-color: #fff;
//   transform: scale(2.5);
// }
// .tippy-box[data-theme~='tomato'][data-placement^='bottom'] > .tippy-arrow::before {
//   border-bottom-color: #fff;
//   transform: scale(2.5);
// }
// .tippy-box[data-theme~='tomato'][data-placement^='left'] > .tippy-arrow::before {
//   border-left-color: #fff;
//   transform: scale(2.5);
// }
// .tippy-box[data-theme~='tomato'][data-placement^='right'] > .tippy-arrow::before {
//   border-right-color: #fff;
//   transform: scale(2.5);
// }
// .tippy-box[data-theme~='tomato'][data-placement^='top'] > .tippy-svg-arrow svg {
//   border-top-color: #fff;
//   fill: #fff;
//   transform: scale(2.5);
// }
// .tippy-box[data-theme~='tomato'][data-placement^='bottom'] > .tippy-svg-arrow svg {
//   border-bottom-color: #fff;
//   fill: #fff;
//   transform: scale(2.5);
// }
// .tippy-box[data-theme~='tomato'][data-placement^='left'] > .tippy-svg-arrow svg {
//   border-left-color: #fff;
//   fill: #fff;
//   transform: scale(2.5);
// }
// .tippy-box[data-theme~='tomato'][data-placement^='right'] > .tippy-svg-arrow svg {
//   border-right-color: #fff;
//   fill: #fff;
//   transform: scale(2.5);
// }
